# Server Port
PORT=server-port

# Google Gemini API Key (Free Tier available at https://aistudio.google.com)
GEMINI_API_KEY=your_free_gemini_api_key_here

ENABLE_AI_VISUAL=true/false
AI_MODEL_TIMEOUT_MS=ms

# Supabase Configuration
SUPABASE_URL=your-superbase-url
SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

# CORS & Allowed Origins Configuration
# LOCAL DEVELOPMENT:
FRONTEND_URL=
ALLOWED_ORIGINS=

# PRODUCTION:
# FRONTEND_URL=
# ALLOWED_ORIGINS=
